<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.the3type.EOD</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>EOD</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.4</string>
	<key>CFBundleVersion</key>
	<string>210518</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/3type/EOD/master/Plugins/Plugin-Palette/EOD.glyphsPalette/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/3type/EOD</string>
	<key>productReleaseNotes</key>
	<string>Have fun and take the bomb.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, 3type, 2021</string>
	<key>NSPrincipalClass</key>
	<string>EOD</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
